<div class="form-page">
  <div class="row">
    <div class="col-6 working-part mx-auto">
      <div class="formtitle">
        <div class="mb-3 maker-input">
          <input class="name-input form-header" disabled placeholder="Hey, This is the welcome section of the form"
            aria-invalid="false">
        </div>
      </div>

      <div id="Short-text-format">
        <div class="mb-3 maker-input">
          <input class="name-input" disabled placeholder="What is your name ?" aria-invalid="false">
        </div>
        <div style="width: 50%" class="user-input">
          <input class="name-input" placeholder="Enter your name here." aria-invalid="false">
        </div>
      </div>

      <div id="Long-text-format">
        <div class="mb-3 maker-input">
          <input class="name-input" disabled placeholder="Tell us about yourself ?*" aria-invalid="false">
        </div>
        <div class="user-input">
          <input class="name-input" placeholder="Write about yourself" aria-invalid="false">
        </div>
        <span class="mt-3 float-right" style="color:#b8b8b8">256 maximum characters</span>
      </div>

      <div id="multiple-choice-format">
        <div class="mb-3 maker-input">
          <input class="name-input" disabled placeholder="What are your hobbies ?" aria-invalid="false">
        </div>
        <div class="user-input">
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Swimming
            </label>
          </div>
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Racing
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Other
            </label>
          </div>
        </div>
      </div>

      <div id="Website-format">
        <div class="mb-3 maker-input">
          <input class="name-input" disabled placeholder="Your Portfolio Link." aria-invalid="false">
        </div>
        <div class="user-input">
          <input class="name-input" placeholder="https://" aria-invalid="false">
        </div>
      </div>

      <div id="Date-format">
        <div class="mb-3 maker-input">
          <input class="name-input" disabled placeholder="How old are you ?" aria-invalid="false">
        </div>
        <div class="user-input">
          <input style="width:25%" class="name-input" id="datepicker" placeholder="12 / DD / YYYY">
        </div>
      </div>

      <div id="Yes-No-format">
        <div class="mb-3 maker-input">
          <input class="name-input" disabled placeholder="Are you married ?" aria-invalid="false">
        </div>
        <div class="user-input">
          <!-- <label class="checkbox-inline mr-4 ">
            <input type="radio" class="custom-control-input" id="customRadio" name="example" value="customEx">&nbsp; Yes
          </label>
          <label class="checkbox-inline">
            <input type="radio" class="custom-control-input" id="customRadio2" name="example2">&nbsp; No
          </label> -->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
            <label class="custom-control-label" for="customRadio1">Yes</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
            <label class="custom-control-label" for="customRadio2">No</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="customRadio3" name="example1">
            <label class="custom-control-label" for="customRadio3">Maybe</label>
          </div>
        </div>
      </div>

      <div id="email-format">
        <div class="mb-3 maker-input">
          <input class="name-input" disabled placeholder="Please Provide your email." type="email" aria-invalid="false">
        </div>
        <div style="width: 50%" class="user-input">
          <input class="name-input" placeholder="Type your email here." aria-invalid="false">
        </div>
      </div>

      <div id="Rating-format">
        <div class="mb-3 maker-input">
          <input class="name-input" disabled placeholder="Rate our service." aria-invalid="false">
        </div>
        <div class="user-input">
          <div class="row">
            <div class="col-5">
              <div class="mb-2 rating-ico">
                <span class="fa fa-star-o"></span>&nbsp;
                <span class="fa fa-star-o"></span>&nbsp;
                <span class="fa fa-star-o"></span>&nbsp;
                <span class="fa fa-star-o"></span>&nbsp;
                <span class="fa fa-star-o"></span>
              </div>
              <div class="mb-2 rating-ico">
                <span class="fa fa-smile-o"></span>&nbsp;
                <span class="fa fa-smile-o"></span>&nbsp;
                <span class="fa fa-smile-o"></span>&nbsp;
                <span class="fa fa-smile-o"></span>&nbsp;
                <span class="fa fa-smile-o"></span>
              </div>
              <div class="mb-2 rating-ico">
                <span class="fa fa-sun-o"></span>&nbsp;
                <span class="fa fa-sun-o"></span>&nbsp;
                <span class="fa fa-sun-o"></span>&nbsp;
                <span class="fa fa-sun-o"></span>&nbsp;
                <span class="fa fa-sun-o"></span>
              </div>
              <div class="mb-2 rating-ico">
                <span class="fa fa-heart-o"></span>&nbsp;
                <span class="fa fa-heart-o"></span>&nbsp;
                <span class="fa fa-heart-o"></span>&nbsp;
                <span class="fa fa-heart-o"></span>&nbsp;
                <span class="fa fa-heart-o"></span>
              </div>
              <div class="mb-2">
                  <button type="button" class="btn btn-light">1</button> &nbsp;
                  <button type="button" class="btn btn-light">2</button> &nbsp;
                  <button type="button" class="btn btn-light">3</button> &nbsp;
                  <button type="button" class="btn btn-light">4</button> &nbsp;
                  <button type="button" class="btn btn-light">5</button>
                </div>
            </div>
            <div class="col-5">
              <select name="Star">
                <option value="Star">Star</option>
                <option value="Smiley">Smiley</option>
                <option value="Sun">Sun</option>
                <option value="Heart">Heart</option>
                <option value="Number">Number</option>
              </select>
            </div>
            <div class="col-2">
              <div class="user-input">
                <input class="name-input" placeholder="Size" aria-invalid="false">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="statement-format">
        <div class="mb-3 maker-input">
          <textarea class="form-control form-statement" rows="2" spellcheck="false"
            placeholder="you can achieve anything if you want in life. Dreems should be seen by open eyes if they are meant to be completed"></textarea>
        </div>
      </div>

      <div id="dropdown-format">
        <div class="mb-3 maker-input">
          <input class="name-input" placeholder="How can you better describe yourself?*" aria-invalid="false">
        </div>
        <div class="user-input">
          <div class="add-dropdown ">
            <i class="fa fa-chevron-down left-ico" aria-hidden="true"></i>
            <input class="name-input mb-2" placeholder="I am invincible." aria-invalid="false">
            <i class="fa fa-times right-ico" aria-hidden="true"></i>
          </div>

          <div class="add-dropdown ">
            <i class="fa fa-chevron-down left-ico" aria-hidden="true"></i>
            <input class="name-input mb-2" placeholder="Add new" aria-invalid="false">
          </div>
        </div>
      </div>

      <div id="picture-choice-format">
        <div class="mb-3 maker-input">
          <input class="name-input" placeholder="Choose among these.*" aria-invalid="false">
        </div>
        <div class="user-input">
          <div class="add-picture">
            <i class="fa fa-picture-o left-ico" aria-hidden="true"></i>
            <input class="name-input mb-2" placeholder="Website" aria-invalid="false">
            <p class="right-img right-ico">image_1234 &nbsp; &nbsp; <i class="fa fa-times" aria-hidden="true"></i></p>
          </div>

          <div class="add-picture">
              <i class="fa fa-picture-o left-ico" aria-hidden="true"></i>
              <input class="name-input mb-2" placeholder="Application" aria-invalid="false">
              <p class="right-img right-ico">image_1234 &nbsp; &nbsp; <i class="fa fa-times" aria-hidden="true"></i></p>
            </div>

            <div class="add-picture">
                <i class="fa fa-picture-o left-ico" aria-hidden="true"></i>
                <input style="width: 50%" class="name-input mb-2" placeholder="Add option" aria-invalid="false">
                <input  style="width: 40%" type="file" class="right-ico form-control-file" >
              </div>
        </div>
      </div>


      <div id="conditional-dropdown-format">
        <div class="mb-3 maker-input">
          <input class="name-input" placeholder="This is the conditional format.*" aria-invalid="false">
        </div>
        <div class="user-input">
          <div class="row">
             <div class="col-4">
                <div  class="add-condi-dropdown">
                    <i aria-hidden="true" class="fa left-ico">1</i>
                  <input  aria-invalid="false" class="name-input mb-2" placeholder="I am invincible.">
                  <i  aria-hidden="true" class="fa fa-times right-ico"></i>
                </div>
             </div>

             <div class="col-4">
                <div class="add-condi-dropdown">
                    <i aria-hidden="true" class="fa left-ico">1. a.</i> 
                    <input aria-invalid="false" class="name-input mb-2" placeholder="I am invincible.">
                    <i aria-hidden="true" class="fa fa-times right-ico"></i>
                  </div>
             </div>

             <div class="col-4">
                <div class="add-condi-dropdown">
                    <i aria-hidden="true" class="fa fa-chevron-down left-ico"></i> 
                    <input aria-invalid="false" class="name-input mb-2" placeholder="I am invincible.">
             </div>
          </div>
        </div>
      </div>
    </div>

    <div class="justify-content-center d-flex" id="submit-part">
        <button type="button" class="btn btn-primary">Save</button> &nbsp; &nbsp; &nbsp;
        <button type="button" class="btn btn-light">Next</button>
      </div>

  </div>
</div>