
.form-control:focus{
    box-shadow: none
}
.form-page{
    background: #f8f8f8;
}
.working-part{
    background: #ffffff
}
.formtitle {
    padding: 35px 40px 0px 40px;
}
#multiple-choice-format{
    padding: 40px;
}
#statement-format{
    padding: 40px;
}
.maker-input input{
    color: #000000
}
.maker-input .name-input::placeholder{
    color:#000000;
}

.form-header{
    font-size:20px;
    font-weight: 600
}
.form-statement{
   font-weight: 300;
   font-style: italic;
   border:none;
}
