<!-- 
<div class="form-bg d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="m-auto">
                <form class="form-horizontal" #logingForm="ngForm">
                    <div class="heading">No Code BPM <br></div>
                    <div class="form-group">
                        <i class="fa fa-user"></i><input required [(ngModel)]="user.userName" size="30" name="username"
                            class="form-control" placeholder="Username" id="exampleInputEmail1">
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock"></i><input required [(ngModel)]="user.password" name="password"
                            type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="!logingForm.valid" routerLink="/home"
                            class="btn btn-default">Login</button>
                        <span>Don't have an account? <a href="" class="create_account"> &nbsp; Sign up</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->


<div class="form-bg d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="m-auto">
                <form class="form-horizontal">
                    <p class="hint-text text-center mb-4">Sign in Using</p>
                    <div class="form-group social-btn clearfix">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" class="btn btn-social"><i class="fa fa-google"></i> &nbsp;
                                   Google</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="btn btn-social"><i class="fa fa-facebook"></i> &nbsp;
                                    Facebook</a>
                            </div>
                        </div>
                    </div>
                    <div class="or-seperator mb-2"><b>or</b></div>
                    <div class="form-group mb-4">
                        <input type="text" class="form-control" placeholder="Username" required="required">
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" class="form-control" placeholder="Password" required="required">
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" class="form-control" placeholder="Confirm Password" required="required">
                    </div>
                    <!-- <div class="form-group mb-4">
                        <input type="text" class="form-control" placeholder="Your Name" required="required">
                    </div>
                    <div class="form-group mb-4">
                        <input type="email" class="form-control" placeholder="Your Email Id" required="required">
                    </div> -->
                    <input type="submit" class="btn btn-primary w-100 mb-4" value="Login">
                    <div class="form-footer">
                        <a href="#">Forgot Your password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>