.uploadimage-dragndrop {
    min-height: auto;
    padding: 20px 20px 20px 20px;
    text-align: center;
    border: solid 1.2px #d1d1d1;
    height: 180px;
    }


    .upload-image-box{
        width: 100%;
        overflow: hidden;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 3px;
        background-size: cover
        }



        .maker-input{
            display: flex;
          }
        .maker-input .name-input{
            order: 2;
            display: block;
            margin-top: 0;
            background: none;
            padding: 2px 2px 1px;
            line-height: 22px;
            height: 30px;
            border:none;
            width: 100%;
            box-sizing: border-box;
            color:rgb(123, 111, 251);
            font-size: 14px;
        }
        .maker-input .name-input:focus{
            outline: none;
        }
        .user-input .name-input{
            order: 2;
            margin-top: 0;
            border-width:0 0 1px;
            background: none;
            padding: 2px 2px 1px;
            line-height: 26px;
            height: 30px;
            border-style:groove;
            width: 100%;
            color: #151948;
        }
        .user-input .name-input:focus{
            outline: none;
        }
        .user-answer{
            border-bottom:2px dashed #b8b8b8;
            color:#b8b8b8;
        }


       .voiletBG{
        background-color: #7b6ffb!important;    
        
        color: #ffffff;
        }
        .voiletColor{
            // background-color: #7b6ffb!important;    
            
            color: #7b6ffb;
            }


            body{
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            .navbar-2{
                border-bottom:2px solid #f8f8f8;
            }
            .notification{
                display: flex;
                align-items: center;
                position:relative;
                top: 35%
            }
            .notification i{
               position: relative;
               font-size: 20px;
            }
            .profile-part{
                padding: 15px 10px; 
            }
            .profile-img{
                height: 44px;
                width: 44px;
                border:1px solid transparent;
                border-radius: 10px;
                float: left;
            }
            .profile-heading{
                font-weight: 600;
            }
            .profile-subheading{
                font-size: 13px;    
            }
            .input-group-text {
              background-color: transparent;
              border: none !important;
            }
            .form-control{
                border: none !important;
            }
            .menu-2{
                padding-left: 0;
                margin-bottom: 0;
            }
            .menu-2 li{
                list-style-type: none;
                border-bottom:2px solid #7130ff;
                padding: 23px 0px;
            }
            .menu-2 li a{
                color: #7130ff;
                font-size: 18px;
            }
            .menu-2 li a i{
                color: #7130ff;
                font-size: 18px;
            }