<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav left-menu mr-auto">
      <li class="nav-item active">
        <a class="nav-link lh-49" routerLink="/process"><span class="glyphicon glyphicon-home"></span>&nbsp; Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-4">
          <div class="input-group" style="width: 500px">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input style="border:none" type="text" class="form-control"
              placeholder="Search any workflow by category or name from here" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
        </a>
      </li>
    </ul>


    <ul class="right-menu navbar-nav">

      <li class="nav-item">
        <a class="nav-link lh-49"><i style="font-size: 18px;" class="fa fa-bell"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><img class="profile-img mr-2" src="assets/img/user.jpg" alt="Avatar">
          <div class="right-menu float-right">
            <span>Abhinav</span>
            <br>
            <span style="font-size: 14px">Super-admin</span>
          </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Profile</a>
          <a class="dropdown-item" routerLink="/login">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->

<!-- <app-nav></app-nav> -->
<div class="container-fluid">
  <div class="row mr-2 ml-2" style="margin-top: 110px">
    <div class="col-md-12">
      <h5 class="voiletColor mt-2 mb-1">Your WorkFlow</h5>

      <div class="row">

        <div class="col-md-3 mt-3 mb-3">
          <div class="uploadimage-dragndrop create-box" data-toggle="modal" data-target="#ProcessDetailsModel">
            <h4 class="voiletColor text-center fw-normal">

              + Create New </h4>
          </div>
        </div>
        <div class="col-md-3 mt-3 mb-3" *ngFor="let form of formStorge; let i = index">
          <div class="uploadimage-dragndrop">
            <div class="drop-menu text-right">
              <!-- <i class="fa fa-ellipsis-v dropdown-toggle" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></i> -->
              <span class="glyphicon glyphicon-option-vertical dropdown-toggle" aria-hidden="true"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="editProcess (i) ">Edit</a>
                <a class="dropdown-item" (click)="deleteProcess (i) ">Delete</a>
              </div>
            </div>
            <div class="p-2">
              <h4 class="text-center mb-4 fw-normal">
                {{form.name.substring(0, 10)}} </h4>
              <h5 class="mb-2 fw-normal"> {{form.category.substring(0, 20)}}</h5>
              <p class="text-description" style="color: #777777"> {{form.description.substring(0, 10)}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-2">
      <h5 class="voiletColor mt-4 mb-3">Pre-Define WorkFlow</h5>

      <div class="row">
        <div class="col-md-3">
          <div class="uploadimage-dragndrop">
            <div>
              Comming Soon </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="ProcessDetailsModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class=" p-5">
        <form #modelForm="ngForm">

          <div class=" maker-input">
            <label class="name-input">Workflow Name: <span class="red">*</span>
            </label>
          </div>
          <div class="user-input">
            <input class="name-input" required [(ngModel)]="model.name" placeholder="Purchase Requisition" type="text"
              name="Workflow">
          </div>

          <div class=" mt-5 maker-input">
            <label class="name-input">Category: <span class="red">*</span>
            </label>
          </div>
          <div class="user-input">
            <input class="name-input" required type="text" [(ngModel)]="model.category" placeholder="Purchase"
              name="category">
          </div>

          <div class="mt-5 maker-input">
            <label class="name-input">Description
            </label>
          </div>
          <div class="user-input">
            <textarea class="name-input" [(ngModel)]="model.description" id="message-text"
              placeholder="enter description here" type="text" name="description"></textarea>
          </div>


        </form>
      </div>


      <div class="modal-footer border-top-none  p-5">
        <button class="btn btn-purple-light" data-dismiss="modal" type="button">Cancel</button>
        <button class="btn btn-purple btn-purple-2" [disabled]="modelForm.invalid"
        (click)="goToFoermEditor()" type="button">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn bg-light" data-dismiss="modal">Close</button>
    <button type="button" class="btn voiletBG" [disabled]="modelForm.invalid"
      (click)="goToFoermEditor()">Create</button>
  </div>













