<div class="navbar-2">
  <div class="row p-0 m-0">
    <div class="col-1">
      <ul class="menu-2 d-flex justify-content-end">
        <li>
          <a href="#"><i class="fa fa-home"></i> Home</a>
        </li>
      </ul>
    </div>

    <div class="col-8">
      <div class="input-group p-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Search any workflow by category or name from here"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-3">
      <div class="d-flex flex-row float-right bd-highlight">
        <div class="p-3 bd-highlight">
          <div class="notification d-flex justify-content-center">
            <i class="fa fa-bell"></i>
          </div>
        </div>
        <div class="p-3 bd-highlight"><img alt="" class="profile-img" src="assets/img/user.jpg" width="42">
        </div>
        <div class="pt-3 bd-highlight">
          <div class="profile-heading">Abhinav</div>
          <div class="profile-subheading">Super-Admin</div>
        </div>
      </div>
    </div>


  </div>
</div>
<div class="container-fluid">
  <div class="row  mr-2 ml-2" style="margin-top: 100px;">
    <div class="col-md-12">
      <h5 class="voiletColor mt-2 mb-4">Your WorkFlow</h5>

      <div class="row">

        <div class="col-md-3 mt-3">
          <div class="uploadimage-dragndrop" data-toggle="modal" data-target="#ProcessDetailsModel">
            <h3 class="voiletColor text-center mt-5">

              + Create New </h3>
          </div>
        </div>
        <div class="col-md-3 mt-3" *ngFor="let form of formStorge">
          <div class="uploadimage-dragndrop">
            <h3 class="voiletColor text-center mt-5">

              {{form.name}} </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-2">
      <h5 class="voiletColor mt-4 mb-3">Pre-Define WorkFlow</h5>

      <div class="row">
        <div class="col-md-3">
          <div class="uploadimage-dragndrop">
            <div>
              Comming Soon </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="ProcessDetailsModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class=" p-5">
        <form #modelForm="ngForm">

          <div class=" maker-input">
            <label class="name-input">Workflow Name: <span class="red">*</span>
            </label>
          </div>
          <div class="user-input">
            <input class="name-input" required [(ngModel)]="FormDetails.formName" placeholder="Purchase Requisition"
              type="text" name="Workflow">

          </div>

          <div class=" mt-3 maker-input">
            <label class="name-input">Category: <span class="red">*</span>
            </label>
          </div>
          <div class="user-input">
            <input class="name-input" required type="text" [(ngModel)]="FormDetails.category" placeholder="Purchase"
              name="category">

          </div>

          <div class="mt-3 maker-input">
            <label class="name-input">Description
            </label>
          </div>
          <div class="user-input">
            <textarea class="name-input" [(ngModel)]="FormDetails.desc" id="message-text"
              placeholder="enter description here" type="text" name="description"></textarea>

          </div>


        </form>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn bg-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn voiletBG" [disabled]="modelForm.invalid"
          (click)="goToFoermEditor()">Create</button>
      </div>
    </div>
  </div>
</div>