<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><i class="lni-chevron-left"></i> Back</a>
</nav>


<section class="main">
<div class="row">

   <!--  ..................menu sidebar................................. -->
    	<div class="menu-sidebar">
           <!-- <p class="menu-title">Drag and Drop to add Section</p> -->
           <div class="row">
                <div class="width-50 pl-30">
                    <div class="menu-item">
                        <img src="assets/img/icons/header.png">
                        <span> Header <br> format </span>
                    </div>

                    <div class="menu-item">
                        <img src="assets/img/icons/statement.png">
                        <span> Statement <br> format</span>
                    </div>

                    <div class="menu-item">
                        <img src="assets/img/icons/picture format.png">
                        <span> Picture <br> Choice </span> 
                    </div>

                    <div class="menu-item">
                        <img src="assets/img/icons/dropdown.png">
                        <span> dropdown <br> format</span>
                    </div>

                    <div class="menu-item">
                        <img src="assets/img/icons/yes_no.png">
                        <span> Yes/No <br> format</span> 
                    </div>

                    <div class="menu-item">
                        <img src="assets/img/icons/multiple choice.png">
                        <span> Multiple <br> choice </span>
                    </div>

                    <div class="menu-item">
                         <img src="assets/img/icons/long text.png">
                        <span> Long text <br> format </span>    
                    </div>

                    <div class="menu-item">
                        <img src="assets/img/icons/date.png">
                        <span> Date <br> format </span> 
                    </div>

                    <div class="menu-item">
                        <img src="assets/img/icons/conditional-dropdown.png">
                        <span>Conditional <br> dropdown</span>
                    </div>

                    <div class="menu-item">
                        <img src="assets/img/icons/true_false.png">
                        <span> True/False <br> format</span> 
                    </div>
                </div>

                <div class="width-50">
                    <div class="menu-item">
                        <img src="assets/img/icons/short text.png">
                        <span> Short text <br> format </span> 
                    </div>  

                    <div class="menu-item">
                         <img src="assets/img/icons/mobile no.png">
                        <span> Phone <br> Number </span>
                    </div>

                    <div class="menu-item">
                         <img src="assets/img/icons/mail.png">
                        <span> Email <br> format </span>  
                    </div>

                    <div class="menu-item">
                         <img src="assets/img/icons/file upload.png">
                        <span> File Upload <br> format</span>
                    </div>

                    <div class="menu-item">
                         <img src="assets/img/icons/payment.png">
                        <span> Payment <br> format </span>
                    </div>

                     <div class="menu-item">
                         <img src="assets/img/icons/rating.png">
                        <span> Rating <br> Scale </span>
                    </div>  

                    <div class="menu-item">
                        <img src="assets/img/icons/website.png">
                        <span> Website <br> format</span> 
                    </div>

                    <div class="menu-item">
                        <img src="assets/img/icons/footer.png">
                        <span>Footer <br> format</span> 
                    </div>

                    <div class="menu-item">
                        <img src="assets/img/icons/table.png">
                        <span>Table <br> format</span> 
                    </div>
                </div>
           </div>
    	</div>
 
        <!--  ..................form working part................................. -->
    	<div class="working-part">
            <div class="formtitle">
				<p class="page-title">This the description which also can be added.</p>
			</div>

    		<div id="header-format">
    			<div class="mb-40">
    				<input class="name-input" placeholder="Write Your Text Here" aria-invalid="false" style="">
    			</div>
    			<div class="">
    				<p class="user-answer">Short answer text</p>
    			</div>
    		</div>

           <div id="Short-text-format">
    			<div class="mb-40">
    				<input class="name-input" placeholder="Write Your Text Here" aria-invalid="false" style="">
    			</div>
    			<div class="#">
    				<p class="user-answer">Short answer text</p>
    			</div>
    		</div>

    	</div>

        <!--  ..................property right sidebar................................. -->
    	<div class="property-part">
    		
    	</div>
</div>
</section>


<a href="#" class="back-to-top">
<i class="lni-chevron-up"></i>
</a>


<router-outlet></router-outlet>
