.form-bg {
    display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f8f8f8;
}
.form-horizontal{
    background-color: var(--white-color);
    text-align: center;
    padding: 50px 50px 50px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.1),;
}
.otp-input{
    border:none;
    border-bottom:2px dashed var(--dashborder-color);
}
.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    color: var(--lightgray-color);
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}
.btn-social {
    width: 150px !important;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: var(--lightgray-color);
    background-clip: padding-box;
    border: 1px solid var(--dashborder-color);
    border-radius: .2rem;
}
.hint-text{
    font-size: 20px;
    font-weight: 500;
}
