<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <i class="lni-chevron-left"></i> Back</a>
    
        <div class="top-bar mx-auto">
                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <a href="#">
                                <button type="button" class="btn btn-primary btn-circle">1</button>
                                <p>Form</p>
                            </a>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#">
                            <button type="button" class="btn btn-circle">2</button>
                            <p>Process</p>
                            </a>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#">
                            <button type="button" class="btn btn-circle">3</button>
                            <p>Publish</p>
                            </a>
                        </div> 
                    </div>
                </div>
                </div>

</nav>



<div class="main">
    <div class="row col-12">
        <div class="col-3 menu-sidebar">

            <div class="mb-3 maker-input file-name">
                <i class="fa fa-home"></i> <input class="name-input" placeholder="Somnath folder" aria-invalid="false">
            </div>
            <p class="menu-title text-center">Drag or Double click to add section</p>
            <div class="row m-auto ">
                <div class="menu-item col-6" *ngFor=" let item of iconField ">
                    <div data-toggle="tooltip" title="{{item.tooltip}}" class="row m-auto" [dndDraggable]="item"
                        [dndEffectAllowed]="'copy'" (dndEnd)="onDragEnd($event)"
                        (dblclick)="dblclickMove($event ,model.attributes, item)">
                        <div class="col-4">
                            <img src="assets/img/icons/{{item.icon}}">
                        </div>
                        <div class="col-8 pl-2 pr-0">
                            <span> {{item.name}}
                                <br> {{item.subName}} </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-6  mx-auto  working-part" (drop)="drop($event)" (dragover)="allowDrop($event)">

            <div class="form-group" style="margin-bottom: 0px !important;" [style.backgroundColor]="model.theme.bgColor"
                [style.color]="model.theme.textColor">

                <div class="formtitle">
                    <div class="maker-input">
                        <input class="name-input" placeholder="Branding form" aria-invalid="false">
                    </div>
                </div>

            </div>
            <section dndDropzone (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event,model.attributes)"
                class="dndDropArea" [ngClass]="{'empty':model.attributes.length == 0}"
                [style.backgroundColor]="model.theme.bgColor" [style.color]="model.theme.textColor">

                <div class="field active
                " *ngFor="let item of model.attributes;let i= index;" (dndStart)="onDragStart($event)"
                    (dndCanceled)="onDragCanceled($event)" (dndMoved)="onDragged(item, model.attributes, 'move')"
                    [dndEffectAllowed]="'all'" [dndDraggable]="item">
                    <div class="row form-group" dndHandle>
                        <div class="col-md-1">
                            <i class="fa fa-ellipsis-v dndHandle"></i>
                        </div>
                        <div class="col-md-9 ">

                            <div
                                *ngIf="(item.fielType ==='header')||(item.fielType === 'statement')|| (item.fielType ==='footer')">
                                <div class="mb-3 maker-input">
                                    <input class="name-input " type="text" [(ngModel)]="item.label"
                                        aria-invalid="false">
                                </div>
                            </div>

                            <div
                                *ngIf="(item.fielType ==='email')||(item.fielType ==='website')|| (item.fielType ==='phone')">
                                <div class="mb-3 maker-input">
                                    <input class="name-input " type="{{item.type}}" [(ngModel)]="item.label"
                                        aria-invalid="false">
                                </div>
                                <div class="user-input">
                                    <input class="name-input" placeholder="{{item.placeholder}}"
                                        [(ngModel)]="item.placeholder" [pattern]="item.regex" aria-invalid="false">
                                </div>
                            </div>
                            <div *ngIf="(item.fielType=='yesNo')|| item.fielType=='trueFalse'">
                                <div class="mb-3 maker-input">
                                    <input class="name-input" [(ngModel)]="item.label" aria-invalid="false">
                                </div>
                                <div class="user-input disabled">
                                    <label class="checkbox-inline mr-4">
                                        <input type="radio" name="{{item.name}}" value="">&nbsp; {{item.values[0]}}
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="{{item.name}}" value="">&nbsp; {{item.values[1]}}
                                    </label>
                                </div>
                            </div>

                            <div *ngIf="(item.fielType=='shortText')|| (item.fielType=='longText')">
                                <div class="mb-3 maker-input">
                                    <span class="req-ico">*</span>
                                    <input class="name-input" [(ngModel)]="item.value" aria-invalid="false">
                                </div>
                                <div class="user-input">
                                    <input class="name-input" placeholder="{{item.placeholder}}" aria-invalid="false">
                                </div>
                            </div>


                            <div *ngIf="item.fielType=='date'">
                                <div class="mb-3 maker-input">
                                    <input class="name-input" placeholder="How old are you ?" aria-invalid="false">
                                </div>
                                <div class="user-input">
                                    <input style="width:25%" class="name-input" disabled placeholder="12 / DD / YYYY"
                                        aria-invalid="false" id="datepicker">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <i *ngIf="item.toggle" (click)="item.toggle=false; currentValidation(item)"
                                class="fa fa-chevron-up pull-right"></i>
                            <i *ngIf="!item.toggle" (click)="item.toggle=true"
                                class="fa fa-chevron-down pull-right"></i>
                            <i (click)="removeField(i)" class="fa fa-trash pull-right"></i>
                        </div>
                    </div>
                    <div *ngIf="false" class="toggle-Wrapper">
                        <div class="form-group">
                            <label>Required</label>
                            <i *ngIf="item.required" (click)="item.required=false" class="fa fa-toggle-on red"></i>
                            <i *ngIf="!item.required" (click)="item.required=true" class="fa fa-toggle-off"></i>
                            <span class="pull-right ucfirst">{{item.type}}</span>
                        </div>
                        <div class="form-group">
                            <label>Label</label>
                            <input class="form-control" type="text" [(ngModel)]="item.label" />
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" [(ngModel)]="item.name" />
                        </div>
                        <div class="form-group">
                            <label>Placeholder</label>
                            <input class="form-control" type="text" [(ngModel)]="item.placeholder" />
                        </div>
                        <div class="form-group">
                            <label>Regex</label>
                            <input class="form-control" type="text" [(ngModel)]="item.regex" />
                        </div>
                        <div *ngIf="item.regex" class="form-group">
                            <label>Error text</label>
                            <input class="form-control" type="text" [(ngModel)]="item.errorText" />
                        </div>

                        <!-- number -->
                        <div *ngIf="item.type=='number'" class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Min</label>
                                    <input class="form-control" type="text" [(ngModel)]="item.min" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Max</label>
                                    <input class="form-control" type="text" [(ngModel)]="item.max" />
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="dndPlaceholder" dndPlaceholderRef>
                </div>
            </section>
        </div>


        <div class="col-3 property-part">
            <div class="property-tab">
                <ul class="nav nav-pills navtab-bg nav-justified">
                    <li class="nav-item">
                        <a href="#Properties" data-toggle="tab" aria-expanded="false" class="nav-link ">
                            Properties
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#Settings" data-toggle="tab" aria-expanded="true" class="nav-link active">
                            Settings
                        </a>
                    </li>
                </ul>
                <div class="tab-content mt-20">
                    <div class="tab-pane show" id="Properties">
                        <div *ngIf="selectedItem" class="required-part mt-4 mb-4">
                            <i *ngIf="selectedItem?.required" (click)="selectedItem.required=false"
                                class="fa fa-toggle-on red"></i>
                            <i *ngIf="!selectedItem?.required" (click)="selectedItem.required=true"
                                class="fa fa-toggle-off"></i> &nbsp;

                            <label>Required</label>


                            <div class="float-right required-icons">
                                <a href="#">
                                    <i class="fa fa-clone"></i>
                                </a> &nbsp; &nbsp;
                                <!-- <a href="#">
                                    <i class="fa fa-trash-o"></i>
                                </a> -->
                            </div>
                        </div>


                        <div class="response-validation mt-3 mb-3">
                            <div class="custom-control custom-radio">
                                <!-- <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"> -->
                                <label class="custom-control-label" for="customRadio1"> &nbsp; Response
                                    Validation</label>
                            </div>
                        </div>

                        <div class="row required-inputs">
                            <div class="col-6">
                                <div class="user-input mb-3">
                                    <select name="put a velue">
                                        <option value="volvo">Number</option>
                                        <option value="saab">number</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="user-input mb-3">
                                    <select name="put a velue">
                                        <option value="volvo">Greater Than</option>
                                        <option value="saab">Greater Than</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6" *ngIf="selectedItem.min">
                                <div class="user-input mb-3">
                                    <p>Min Char</p>
                                    <input class="name-input" [(ngModel)]="selectedItem.min" aria-invalid="false">
                                </div>
                            </div>
                            <div class="col-6" *ngIf="selectedItem?.mix">
                                <div class="user-input mb-3">
                                    <p>Max Char</p>
                                    <input class="name-input" [(ngModel)]="selectedItem.mix" aria-invalid="false">
                                </div>
                            </div>

                            <div class="col-12" *ngIf="selectedItem?.errorText">
                                <div class="user-input mb-3">
                                    <input class="name-input" [(ngModel)]="selectedItem.errorText" aria-invalid="false">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="user-input mb-3">
                                    <select name="put a velue">
                                        <option value="volvo">Select atleast</option>
                                        <option value="saab">Select atleast</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="user-input mb-3">
                                    <input class="name-input" placeholder="2" aria-invalid="false">
                                </div>
                            </div>

                            <div class="col-7">
                                <div class="user-input mb-3">
                                    <select name="put a velue">
                                        <option value="volvo">Only available in</option>
                                        <option value="saab">Only available in</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="user-input mb-3">
                                    <select name="put a velue">
                                        <option value="volvo">Country</option>
                                        <option value="saab">Country</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-7">
                                <div class="user-input mb-3">
                                    <select name="put a velue">
                                        <option value="volvo">Accept only</option>
                                        <option value="saab">Accept only</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="user-input mb-3">
                                    <select name="put a velue">
                                        <option value="volvo">After</option>
                                        <option value="saab">After</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="user-input mb-3">
                                    <input class="name-input" type="date" placeholder="date" aria-invalid="false">
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="tab-pane active " id="Settings">

                        <label class="nice-lable">Font</label>
                        <div class="nice-select box-nice-select wide mb-3" tabindex="0">
                            <span class="current">Montsarret</span>
                            <ul class="list">
                                <li data-value="2" class="option">Another option</li>
                                <li data-value="3" class="option">A disabled option</li>
                                <li data-value="4" class="option">Potato</li>
                            </ul>
                        </div>

                        <div class="theme-setting-color mt-5">
                            <div class="que-color mb-2">
                                <p>Question color</p>
                                <input type="color" class="input-lg" [(ngModel)]="model.theme.bgColor" value="#ddd">
                            </div>

                            <div class="que-color mb-2">
                                <p>Answer color</p>
                                <input type="color" class="input-lg" [(ngModel)]="model.theme.textColor" value="#ddd">
                            </div>

                            <div class="que-color mb-2">
                                <p>Button color</p>
                                <input type="color" class="input-lg" value="#ddd">
                            </div>

                            <div class="que-color mb-2">
                                <p>Background Image</p>
                                <i class="fa fa-check-square-o float-right" aria-hidden="true"></i>
                            </div>

                            <div class="que-color mb-5">
                                <p>Theme Change</p>
                                <i class="fa fa-check-square-o float-right" aria-hidden="true"></i>
                            </div>

                            <hr style="border:1px dashed gray">
                        </div>

                        <div class="form-pages mt-3">
                            <p class="text-center mb-3">Form pages</p>
                            <p class="mb-2">
                                <a href="#">1. &nbsp; Payment requisition</a>
                            </p>
                            <p class="mb-2">
                                <a href="#">2. &nbsp; Payment Order</a>
                            </p>
                            <p class="mb-2">
                                <a href="#">3. &nbsp; Payment reciept</a>
                            </p>
                            <p class="mb-2">
                                <a href="#">4. &nbsp; Payment</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>