.tastCard {
    border: 2px solid var(--primary-color);
    margin-top: 50px;
    border-radius: 10px;
}

.tastCard .card-header{
    width: 94%;
    margin-left: 3%;
    margin-top: -28px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--white-color);
}
.card-body{
    padding: 40px 15px;
    width: 215px;
}
.card-header {
    padding: .5rem 1.25rem;
}
.tastCard  .text-info{
    color: var(--black-color) !important;
    font-size: 12px;
}
.userList {
    overflow: hidden;
    height: 11vh;
}
.userlistimg{
    height: 40px;
    width: 40px;
}
.plus-circle-ico{
    height: 20px;
    width: 20px;
}
.hide-show-btn{
    position: fixed;
    bottom: 30px;
    right: 80px;
    z-index: 999;
}
.vl {
    border-left: 3px solid green;
    height: 28px;
    margin-left:50%;
}
.modal-tab-menu{
    -border:1px solid red;
}
.modal-tab-menu li a{
    font-weight:500;
    font-size: 18px;
    border:2px solid transparent;
    border-radius: 0px;
    color: var(--Font-light-color);
}
.modal-tab-menu li a:hover:active{
    border-bottom:2px solid var(--main-purple-color);
}
#publishPageModel .nav-pills .nav-link.active{
    color: var(--main-purple-color) !important;
    border-bottom: 2px solid var(--main-purple-color);
}
.btn-publish{
    padding: 15px 25px !important;
}
.publish-modal-search{
    border:1px solid #ced4da;
    padding: 2px;
    border-radius: 7px;
}
.modal-user-image{
    height: 45px;
    width: 45px;
}
.modaluserbox{
    border:1px solid #ced4da;
    overflow: hidden;
    border-radius: 7px;
    padding: 15px;
}
.modaluserbox .text-info{
    overflow: hidden;
    color: var(--black-color) !important;
    font-size: 12px;
}

.modalradiolable{
    font-size:19px;
    color: var(--Font-light-color);
    margin-bottom: 4px;
}
.modal-subheading{
    color: var(--lightgray-color);
    font-size: 15px;
}
.p-2rem{
    padding: 2rem;
}
.custom-control-input:checked~.custom-control-label::before {
    color: var(--main-purple-color) !important;
    border: 2px solid var(--main-purple-color) !important;
    background-color: var(--main-purple-color) !important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: none;
    font-size: 19px;
    font-weight: 500;
}
.publishdopmenu{
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(9px, 11px, 0px) !important;
    width: 91% !important;
}
.publishdopmenu .dropdown-item {
    padding: .5rem 1.5rem !important;
    font-size: 14px !important;
}
.card-header .nav-link {
    font-size: 15px !important;
}
.plus-user-content span{
    font-size: 15px;
}