:root {
    --main-purple-color: #7130ff;  
    --lightgray-color: #8b8b8b;
    --black-color: #3c3c3c;  
    --sky-blue: #448ef6;
    --primary-color: #50ADFF;   
    --success-color: #22c97b;
    --dashborder-color: #8b8b8b61;
    --solid-border: #bdbdbd8b; 
    --white-color: #ffffff;
    --red-color: #ff4c2e;
    --active-light-grey: #f6f6f6;
  }




@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.clearfix{clear:both;}
.pointer{cursor: pointer;}
.ucfirst{text-transform: capitalize;}
.min300{min-height:300px}
// .app-box{
//     padding: 10px;
//     margin-bottom:20px;
//     height: 230px;
//     background: #b5e8d4;
//     overflow: hidden;
//     -box-shadow: 1px 1px 4px var(--dashborder-color);
// }
// .app-box:hover{
//     box-shadow: 1px 1px 4px var(--lightgray-color);
// }
// .app-box .remove{
//     position: absolute;
//     right: 21px;
//     top: 0px;
//     color: #545454;
//     display:none;
// }
// .app-box:hover .remove{
//     display:block;
// }
.inline-btn{
    background: var(--success-color);
    padding: 1px 5px;
    color: var(--white-color);
    display: inline-block;
    margin-bottom: 5px;
}
.btn-custom{
    border:1px solid var(--lightgray-color);
}
.btn-purple{
    color: var(--white-color);
    background-color: var(--main-purple-color) !important;
    border-color:var(--main-purple-color);
    font-size: 17px;
    border-radius: 10px;
    padding: 0 20px;
}
.btn-purple:hover{
    color:none !important;
}
.btn-purple-2{
    padding: 12px 45px !important;
}
.border-top-none{
    border-top: none !important;
}
.btn-purple-light{
    color: var(--main-purple-color);
    font-size: 17px;
    padding: 15px 30px;
}
.box{
    padding: 10px;
    margin-bottom:10px;
    overflow: auto;
    box-shadow: 1px 1px 4px var(--solid-border);
}
.form-group .form-control{
    font-size:inherit;
    background-color: inherit;
}

.dndDropArea{
    -padding: 10px;
    /* border: dotted var(--solid-border) 2px; */
}

.dndDropArea.empty{
    min-height:600px;
    border: dotted var(--solid-border) 2px;
}

.field{
    padding:0px 10px 30px 10px;
    margin-bottom:10px;
    position: relative;
}
.field:hover{
    box-shadow: 0 1px 5px 0 rgba(101, 95, 95, 0.3);
    -background: #f9f9f9;
}
.toggle-Wrapper{
    padding: 15px;
    background: var(--active-light-grey);
}
.dndHandle{
    cursor: pointer;
    color:var(--lightgray-color);
}
.dndDraggingSource{
    opacity:0.3;
}
.dndPlaceholder{
    background: rgb(206, 238, 238); border-radius: 2px; padding: 20px;
    margin-bottom:10px;
} 

.mainshow{
    margin-top: 90px;;
}
.field .fa{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;

}
.red{color: var(--red-color)}
.fa-trash{color: var(--red-color)}
.marginT60{
    margin-top:60px;
}

.color-red{color:var(--red-color);}
.report-block{
    padding:10px;
    background:var(--active-light-grey);
    margin-bottom:20px;
}
.report-block .row:nth-child(even){
    background:var(--white-color);
}

.ftheme{
    width:100%;
}

.dndDropArea .field .part-hover-ico{
    opacity:0;
}
.dndDropArea  .active .part-hover-ico{
    opacity:1;
}
.dndDropArea .field:hover .part-hover-ico{
    color:var(--lightgray-color);
    opacity:1;
}

.colorpick{
    height: 25px;
    background: var(--white-color);
    border: none;
}
.navbar{
    padding: 0 30px;
    // z-index: 99999; 
    background: var(--white-color);
    box-shadow: 0 1px 3px 0 rgba(101, 95, 95, 0.3);
  }
  .navbar-light .navbar-nav .nav-link {
      padding: 20px;
      color:var(--black-color);
      font-size: 17px;
  }
//   .navbar-light .navbar-toggler {
//     display: none !important;
//   }
//   .navbar-light .navbar-toggler {
//     display: flex !important;
//   }
  .navbar-collapse{
    display: flex !important;
  }
  .left-menu li.nav-item.active{
      border-bottom:2px solid var(--main-purple-color);
  }
  .left-menu li.nav-item.active a{
    color: var(--main-purple-color) !important;
}
  .profile-img {
      height: 50px;
      width: 50px;
      border: 1px solid transparent;
      border-radius: 10px;
  }
  .lh-49{
      line-height: 49px;
  }
  .process-part{
   width: 450px;
     }
    .process-part::after{
    content: '';
    position: absolute;
    top: 25%;
    left: 50%;
    height: 1px;
    width: 70%;
    background-color: var(--sky-blue);
    z-index: -1;
    transform: translateX(-50%);
    }
    .pro-button{
      border-radius: 50%;
      height: 25px;
      width: 25px;
      border: 3px solid var(--white-color);
      box-shadow: 0px 0px 0px 1px var(--sky-blue);
      background: var(--white-color);
    }
    .abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .dropdown-toggle::after {
        border-top: none !important;
    }
    .dropdown-menu {
        border: transparent;
        box-shadow: 0px 1px 10px -5px rgba(12, 46, 96, 0.2);
    }
    .dropdown-toggle {
        cursor: pointer;
    }
    .dropdown-item:active {
        background-color: var(--active-light-grey);
    }


// navbar
//   .notification{
//     display: flex;
//     align-items: center;
//     height: 90px;
//   }
//   .notification i{
//    position: relative;
//    font-size: 20px;
//   }
//   .profile-part{
//     padding: 15px 10px; 
//     z-index: 99999 !important;
//   }
//   {
//     height: 44px;
//     width: 44px;
//     border:1px solid transparent;
//     border-radius: 10px;
//     float: left;
//   }.profile-img
  
  .input-group-text {
  background-color: transparent;
  border: none !important;
  }
label {
    font-size: 15px;
}
.maker-input {
    display: flex;
}
.maker-input .name-input{
    order: 2;
    display: block;
    margin-top: 0;
    background: none;
    padding: 2px 2px 1px;
    line-height: 26px;
    height: 30px;
    border:none;
    width: 100%;
    box-sizing: border-box;
    color: var(--black-color);
    font-size: 17px;
}

.maker-input .name-input:focus{
	outline: none;
}
.user-input .name-input{
    order: 2;
    margin-top: 0;
    border-width:0 0 1px;
    background: none;
    padding: 2px 2px 1px;
    line-height: 26px;
    height: 35px;
    border-style:dashed;
    width: 100%;
    // min-width: 30%;
    // max-width: 100%;
    color: var(--lightgray-color);
    border-bottom: 1.5px dashed var(--dashborder-color);
}
.property-part .user-input .name-input{
    border-bottom: 1px dashed var(--solid-border) !important;
}
.user-input .name-input:focus{
	outline: none;
}
.user-answer{
	border-bottom:2px dashed var(--lightgray-color);
	color:var(--lightgray-color);
}
.nice-lable{
    padding:10px 0;
    font-size: 14px;
}
/*.fixed-bar{
    height: calc(100vh - 50px);
    position: fixed;
    overflow-y: scroll;
}*/
/*-------------sidebar icon menues part-------------*/
.menu-sidebar{
	-border:1px solid purple;
	padding: 20px 25px;
	height: calc(100vh - 50px);
    overflow-y:auto;
    position: fixed;
}
#side-menu{
	padding:0;
}
.menu-item{
	-display: inline-block;
    position: relative;
    padding: 15px 5px;
    cursor: pointer;
}
.menu-item img{
	height: 25px;
	width:25px;
	float: left;
	margin:0 10px 10px 0;
	position: relative;
	top: 15px;
}
.menu-item span{
	font-size: 13px;
	display: block;
	color:var(--black-color);
}

.menu-title {
    letter-spacing: .05em;
    cursor: default;
    font-size: 14px;
}
.coming-soon-part{
    position: relative;
    overflow: hidden;
}
.coming-soon-part .title-with-ico{
    width:max-content;
    margin: auto;
}
.coming-soon-part p{
    background: var(--white-color);
    width: max-content;
    font-size: 15px;
    padding: 0 10px;
    color: orange;
}
.coming-soon-part:after{
    content: '';
    position: absolute;
    top:12px;
    left: 0;
    width: 100%;
    border-bottom:1.5px dashed orange;
    overflow: hidden;
    z-index: -1;
}
/*-------------working form part-------------*/
.working-part{
	overflow: hidden;
	box-shadow:0 1px 5px 0 rgba(101, 95, 95, 0.3);
	height: 100%;
  margin: auto;
  background: var(--white-color);
}
.working-part .active{
     box-shadow:0 1px 5px 0 rgba(101, 95, 95, 0.3);
}
.formtitle{
	padding: 35px 50px;
}
.formtitle .page-title{
	color: var(--lightgray-color);
	font-size:13px;
	font-weight:400;
}
.form-page-name{
    border-bottom: 2px dashed var(--dashborder-color);
    padding: 5px;
}
.mb-40{
	margin-bottom:40px;
}
.mb-35{
	margin-bottom:35px;
}
.file-name{
  display: flex;
  text-align: center;
}
.file-name i{
  margin-right: 10px;
  font-size:18px;
  line-height:30px; 
  color:var(--black-color);
}


/*-------------formats-------------*/


/*-----rating css-------*/
fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f006";
}

.rating > .half:before { 
  content: "\f006";
  position: absolute;
}

.rating > label { 
  color: var(--lightgray-color); 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


.form-header{
  font-size:22px !important;
  font-weight: 600;
  color:var(--black-color);
}


/*-------------property part-------------*/
.property-part{
    height: calc(100vh - 50px);
    position: fixed;
    overflow-y:auto;
    padding:15px;
    right:0;
}
.property-tab{
	padding: 15px;
}
.property-tab .tab-content{
	-border:1px solid var(--red-color);
}
.text-property{
	-border:1px solid var(--red-color);
}
.text-property a{
	padding:5px;
	font-size:14px;
}
.text-property a img{
	height:18px;
}
.part-title{
	-border:1px solid var(--red-color);
	margin-bottom:15px;
	font-size: 15px;
}
.add-new-property a{
	padding:5px;
	margin-right:10px;
	font-size:14px;
	display: inline-grid;
}
.add-new-property span{
	font-size:10px;
	color: var(--lightgray-color);
	text-align: center;
}
.add-new-property a img{
	height:25px;
}
.required-part{
	line-height: 18px;
}
// .required-part .switch {
//   position: relative;
//   display: inline-block;
//   width: 40px;
//   height: 18px;
// }

// .required-part .switch input { 
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// .required-part .slider {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: var(--dashborder-color);
//   -webkit-transition: .4s;
//   transition: .4s;
// }

// .required-part .slider:before {
//   position: absolute;
//   content: "";
//   height: 15px;
//   width: 15px;
//   left: 4px;
//   bottom: 2px;
//   background-color: white;
//   -webkit-transition: .4s;
//   transition: .4s;
// }

// .required-part input:checked + .slider {
//   background-color: var(--primary-color);
// }

// .required-part input:focus + .slider {
//   box-shadow: 0 0 1px var(--primary-color);
// }

// .required-part input:checked + .slider:before {
//   -webkit-transform: translateX(18px);
//   -ms-transform: translateX(18px);
//   transform: translateX(18px);
// }

// .required-part .slider.round {
//   border-radius: 34px;
// }

// .required-part .slider.round:before {
//   border-radius: 50%;
// }
// .required-icons i{
//   font-size: 16px;
//   color: #a0a6ad;
// }

.inline-selection span{
	display: inline-block;
	width:50%;
	padding: 0 5px;
}

.theme-setting-color{
	border-bottom:2px dashed var(--dashborder-color);
}
.que-color p{
    display: inline;
    font-size: 15px;
}
.que-color input{
	height: 23px;
    width: 23px !important;
    position: relative;
    top: 5px;
    border-radius: 1px;
    float: right;
    padding: 0;
    margin: 0;
    background: var(--white-color);
    border: none;
}
.que-color i{
    position: relative;
    top:5px;
    font-size: 18px;
}
.form-pages .pages a{
    color:var(--black-color);
}
.form-pages .pages a:hover{
    color:var(--primary-color);
}
.form-pages .pages .pages-ico a{
    opacity: 0;
}
.form-pages .pages:hover .pages-ico a{
    opacity: 1;
}
.form-pages .pages a:active{
    color: var(--primary-color);
}
.form-pages .pages:active .pages-ico a{
    opacity: 1;
}
.mtb{
	margin: 35px 0;
}
.multiselect-dropdown{
    position: relative;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px var(--dashborder-color);
}
.multiselect-dropdown .dropdown-btn .selected-item {
    border: none !important;
    background: var(--white-color) !important;
    color:var(--black-color) !important;
    font-size:15px !important;
}
.multiselect-dropdown .dropdown-btn .selected-item a {
    color: var(--red-color) !important;
}
.multiselect-item-checkbox input[type=checkbox] + div:before {
    border: 2px solid var(--active-light-grey) !important;
}
.multiselect-dropdown .dropdown-btn {
    border-bottom: 1px solid var(--active-light-grey) !important;
    border-top:none !important;
    border-right:none !important;
    border-left:none !important;
    border-radius:0px !important;
    font-size: 15px;
}
.multiselect-dropdown .dropdown-btn .dropdown-down {
    border-top: 7px solid var(--active-light-grey) !important;
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important;
}
.multiselect-dropdown .dropdown-btn .dropdown-up {
    border-bottom: 7px solid var(--active-light-grey) !important;
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important;
}
.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
    border: 2px solid #337ab7 !important;
}
.dropdown-list li {
    border-bottom: 1px solid var(--active-light-grey) !important;
}
.dropdown-list .filter-textbox {
    border-bottom: 1px solid var(--active-light-grey) !important;
}
.dropdown-list {
    border: 1px solid var(--active-light-grey) !important;
    padding-top: 0px !important;
    margin-top: 5px !important;
    box-shadow: none !important;
}
.dropdown-list ul {
    padding: 0px 0 !important;
}


.toggle-imag{
    width: 33px;
    height: 100%;
    background-size: cover;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--active-light-grey); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--solid-border) ; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dashborder-color); 
}
// form

.form-control:focus{
    box-shadow: none
}
.form-page{
    background: var(--active-light-grey);
    overflow-x: hidden;
}
.working-part{
    background: var(--white-color)
}
.formtitle {
    padding: 35px 40px 0px 40px;
}
#multiple-choice-format{
    padding: 40px;
}
#statement-format{
    padding: 40px;
}
#dropdown-format{
    padding: 40px;
}
#conditional-dropdown-format{
    padding: 40px;
}
#picture-choice-format{
    padding: 40px;
}
.maker-input input{
    color: var(--black-color);
}
.maker-input .name-input::placeholder{
    color:#3c3c3c;
}
.rating-ico span{
font-size: 20px;
}
.form-header{
    font-size:20px;
    font-weight: 600
}
.form-statement{
   font-weight: 300;
   font-style: italic;
   border:none;
}
.add-dropdown{
    padding-bottom: 5px;
    position: relative;
}
.add-dropdown .left-ico{
    float: left;
    position: relative;
    top:20px;
    color: var(--lightgray-color);
}
.add-dropdown .right-ico{
    right: 0;
    position: absolute;
    top:0px;
    color: var(--lightgray-color);
    cursor: pointer;
}
.add-dropdown input{
    padding-left: 25px;
    border-bottom: 1px solid var(--dashborder-color);
    width: 50%;
    margin-right: 30px;
}
.add-dropdown .numbering{
    position: relative;
    top: 26px;
}
// #conditional-dropdown-format .add-dropdown .right-ico{
//     right: 0;
//     position: absolute;
//     top:30px;
//     color: var(--lightgray-color);
// }
// .add-picture{
//     padding-bottom: 5px;
//     position: relative;
// }
// .add-picture .right-img{
//     border:1px solid var(--dashborder-color);
//     width: 30%;
//     text-align: center;
//     height: 30px;
// }
// .add-picture .left-ico{
//     position: relative;
//     top:25px;
//     color: var(--lightgray-color);
// }
// .add-picture input{
//     padding-left: 25px;
//     border-bottom: 1px solid var(--dashborder-color);
//     width: 67%;
// }
// .add-picture .right-ico{
//     right: 0;
//     position: absolute;
//     top:24px;
//     color: var(--lightgray-color);
// }
// .add-picture button{
//     border:2px dashed #dddddd;
//     padding: 5px 10px;;
//     margin-left: 20px;
// }
#submit-part{
    padding: 40px
}
#submit-part .btn{
    padding: 7px 20px;
}
.add-condi-dropdown{
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
}
.add-condi-dropdown .left-ico{
    float: left;
    position: relative;
    top:20px;
    color: var(--lightgray-color);
}
.add-condi-dropdown .right-ico{
    right: 0;
    position: absolute;
    top:6px;
    color: var(--lightgray-color);
}
.add-condi-dropdown input{
    border-bottom: 1px solid var(--dashborder-color)
}




.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
    background: var(--white-color) !important;
    border: 2px solid var(--active-light-grey) !important;
    color: var(--solid-border) !important;
}
.multiselect-item-checkbox input[type=checkbox] + div:after{
    border-color:var(--lightgray-color) !important;
}
.multiselect-item-checkbox input[type=checkbox] + div:after {
    top: 50% !important;
    left: 5px !important;
    width: 6px !important;
    height: 2px !important;
    margin-top: -3px !important;
}
.fw-normal{
    font-weight: normal !important;
}









// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 12px !important;
  }
  .navbar {
    padding: 0 15px !important;
  }
  .process-part {
    width: 350px !important;
  }
  .navbar-nav {
    display: -webkit-box !important;
   }
   .menu-item {
    padding: 10px 5px;
    }
    .menu-sidebar {
        padding: 10px 15px;
    }
    .mob-tabl-none{
        display: none;
    }
    .profile-img {
        height: 40px;
        width: 40px;
    }
    .pro-button {
        height: 20px;
        width: 20px;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  
}














