body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar-2{
    border-bottom:2px solid #f8f8f8;
}
.notification{
    display: flex;
    align-items: center;
    position:relative;
    top: 35%
}
.notification i{
   position: relative;
   font-size: 20px;
}
.profile-part{
    padding: 15px 10px; 
}
.profile-img{
    height: 44px;
    width: 44px;
    border:1px solid transparent;
    border-radius: 10px;
    float: left;
}
.profile-heading{
    font-weight: 600;
}
.profile-subheading{
    font-size: 13px;    
}
.input-group-text {
  background-color: transparent;
  border: none !important;
}
.form-control{
    border: none !important;
}
.menu-2{
    padding-left: 0;
    margin-bottom: 0;
}
.menu-2 li{
    list-style-type: none;
    border-bottom:2px solid #7130ff;
    padding: 23px 0px;
}
.menu-2 li a{
    color: #7130ff;
    font-size: 18px;
}
.menu-2 li a i{
    color: #7130ff;
    font-size: 18px;
}
.entity-logo .logo-img{
    height: 55px;
    width: 55px;
    border: 1px solid transparent;
    border-radius: 10px;
    float: left;
}
.entity-logo .entity-name{
    font-weight: 500;
}